{% extends 'base.html' %}

{% load static %} {% block content %}

<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Junta-te a nós</h2>
        <p class="subtitle">Estás a poucos passos de uma boa decisão</p>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit" class="btn-register">
                Register
            </button>
        </form>
        
        <div class="login-footer">
            Já possui conta? <a href="{% url 'login' %}">Faça o login aqui</a>
        </div>
    </div>
</div>
{% endblock %}